body {
    background-color: #eeeeee;
}

ul li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
    background: #bbddff;
}

button {
    margin-left: 10px; /* ボタンと他の要素の間に余白を追加 */
}