<!--新規登録-->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>User Registration page</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">

</head>

<nav>

</nav>

<div id="loginscreen">
  <p id="head_message">新規登録</p>
</div>

<body>
  <form th:action="@{/user}" th:object="${userForm}" method="post">
    <div id="form">
      <label for="userId">ユーザーID: </label>
      <input type="text" id="userId" name="userId" th:field="*{userId}" size="16" />

      <label for="password">パスワード: </label>
      <input type="text" id="password" name="password" th:field="*{password}" size="50" />
    </div>

    <div id="register_registerButtonPosition">
      <button class="registrationButton" type="submit">新規登録</button>
    </div>
  </form>
  <form th:action="@{/login}" method="get">
    <div id="userReturn">
      <button class="returnButton" type="submit">戻る</button>
    </div>
  </form>
</body>

<footer>
  <p>@GAKU-todo</p>
</footer>

</html>