<!--ホーム画面-->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>




<body>


  
  <nav>
  <ul>

    <li><a href="#">HOME</a></li>
    <li><a href="#">登録</a></li>
    <li><a href="#">削除</a></li>
    <li><a href="#">設定</a></li>
  </ul>
</nav>
  
    <p id = "head_message">ホーム</p>
  
  
  <!--
    <div id="formWrapper">
        <label for="taskInput">今日やるべきタスクを入力してください</label>
        <input type="text" id="taskInput" name="taskInput" />
        <input type="button" id="submitButton" value="登録" onclick="submit()" />
    </div>
-->

    <div id="todoListWrapper">
        <h1>ToDo List</h1>
        <ul id="todoList">
            <!-- <input type="button" id="deleteButton" value="削除" onclick="Delete()"/> -->
        </ul>
    </div>

    <div id="doneListWrapper">
        <h1>Done List</h1>
        <ul id="doneList">
            <!-- <input type="button" id="deleteButton" value="削除" onclick="Delete()"/> -->
        </ul>
    </div>

<script src="/script.js" type="text/javascript"></script>
  
  <footer>
   <p>@GAKU-todo</p>
   </footer>


</body>
</html>