<!--ログイン画面-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Login page</title>
  <link rel="stylesheet" th:href="@{/style.css}" type="text/css" media="screen">

</head>
  


<body>
  <nav>
  </nav>
  
   <p class = "head_message">ログイン</p>
  
  <div class = "loginform">
    <label for = "user_Id" >ユーザーID: </label>
    <input type ="text" id ="user_Id" name="Admin2025" size = "50"/><br><br>

    <label for = "password">パスワード: </label>
    <input type ="text" id = "password" name = "Admin2025" size = "50"/>
    </div>
  	<div id = "register_registerButtonPosition">
  		<button class = "loginbutton" onclick="location.href='home.html'">ログイン</button>
    </div>
  	<div id = "createaccountButtonPosition">
  		<button class = "loginbutton" onclick="location.href='userRegistration.html'">新規登録</button>
    </div>
</body>
  <footer>
   <p>@GAKU-todo</p>
   </footer>

</html>