<!--ホーム画面.1-->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>

<body>
  
  <nav>
  <ul id = "homebar">
    
    <li><a href="../home" id = "homeMenu" class="white">HOME</a></li>
    <li><a href="home/new" id = "taskRegistrationMenu" class="linkcolor">登録</a></li>
    <li><a href="home/delete" id = "taskDeleteMenu" class="linkcolor">削除</a></li>
    <li><a href="home/option" id = "optionMenu" class="linkcolor">設定</a></li>
  </ul>
</nav>
  
    <p  class= "head_message">todoList</p>

<div> 
    <h1 class="ListStyle">ToDo List</h1>
    <ul id="todoList">
        <li th:each="todo : ${todos}">
          
            <!--<input type="checkbox" class = "checkBox" th:href="@{/home/{todoId}(todoId=${todo.todoId})}" onclick="clickTodoList(event)"><a><span th:text="${todo.title}">todo title</span><br></a>-->
            <input type="checkbox" class = "checkBox" onclick="clickTodoList(event)"> 
            <a class="linkcolor" th:href="@{/home/{todoId}(todoId=${todo.todoId})}"><span th:text="${todo.title}">todo title</span><br></a>
        </li>
    </ul>
</div>



    <div> <!--id="doneListWrapper"-->
        <h1 class="ListStyle">Done List</h1>
        <ul id="doneList">
            <!-- <input type="button" id="deleteButton" value="削除" onclick="Delete()"/> -->
        </ul>
    </div>

<script src="/script.js" type="text/javascript"></script>
  
  <footer>
   <p>@GAKU-todo</p>
   </footer>


</body>
</html>