<!--設定画面-->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>option</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>
 
<body>

  <nav>
    <ul id="homebar">

      <li><a href="../home" id="homeMenu" class="linkcolor">HOME</a></li>
      <li><a href="../home/new" id="taskRegistrationMenu" class="linkcolor">登録</a></li>
      <li><a href="../home/delete" id="taskDeleteMenu" class="linkcolor">削除</a></li>
      <li><a href="../home/option" id="optionMenu" class="white">設定</a></li>
    </ul>
  </nav>

  <p class="head_message">todoList</p>

  <div id="option_position">
    <div class="Option">
      <p>ユーザーID： <span th:text="${userId}">Default ID</span></p>
    </div>

    <div class="Option">
      <label for="userName">ユーザー名：</label>
      <input type="text" , id="userName" name="userName" value="名無し(全角10字以下)" />
    </div>

    <div class="Option">
      <label>
        <input type="checkbox"> 削除確認
      </label>
    </div>


    <div class="Option">
      <label for="color-scheme-select">テーマ：</label>
      <select id="color-scheme-select" onchange="changeColorScheme(this.value)">
        <option
          value='{"bgColor":"#98fb98", "titleColor":"#000000", "textColor":"#000000", "boxColor":"#3fde3f", "homeColor":"#FFFDD0", "whiteColor":"#767676", "labelColor":"#000000"}'>
          パステルグリーン</option>
        <option
          value='{"bgColor":"#000080", "titleColor":"#ffffff", "textColor":"#ffffff", "boxColor":"#7fbfff", "homeColor":"#FFFFF0", "whiteColor":"#767676", "labelColor":"#000000"}'>
          ミッドナイトブルー</option>
        <option
          value='{"bgColor":"#eddfe0", "titleColor":"#696969", "textColor":"#696969", "boxColor":"#ffe3e5", "homeColor":"#f5f5f7", "whiteColor":"#c2c2c2", "labelColor":"#000000"}'>
          パステルピンク</option>
        <option
          value='{"bgColor":"#99aaaa", "titleColor":"#000000", "textColor":"#000000", "boxColor":"#778888", "homeColor":"#000b1c", "whiteColor":"#636363", "labelColor":"#ffffff"}'>
          ダークモード</option>
        <option
          value='{"bgColor":"#fdf6ee", "titleColor":"#612c16", "textColor":"#612c16", "boxColor":"#e05d4f", "homeColor":"#61728f", "whiteColor":"#c2c2c2", "labelColor":"#000000"}'>
          London afternoon</option>
        <option
          value='{"bgColor":"#F8E4B0", "titleColor":"#3A3837", "textColor":"#3A3837", "boxColor":"#F7D47E", "homeColor":"#F7D580", "whiteColor":"#c2c2c2", "labelColor":"#000000"}'>
          コダック</option>
      </select>
    </div>

    <div class="Option">
        <form th:action="@{/logout}" method="post">
          <button type="submit">ログアウト</button>
        </form>
    </div>
  </div>
  </div>

  <script src="/script.js" type="text/javascript"></script>

  <footer>
    <p>@GAKU-todo</p>
  </footer>


</body>

</html>