<!--タスク登録.2-->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>taskRegistration</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>

<body>
  
 <nav>
  <ul id = "homebar">

    <li><a href="../home" id = "homeMenu" class="linkcolor">HOME</a></li>
    <li><a href="../home/new" id = "taskRegistrationMenu" class="white">登録</a></li>
    <li><a href="../home/delete" id = "taskDeleteMenu" class="linkcolor">削除</a></li>
    <li><a href="../home/option" id = "optionMenu" class="linkcolor">設定</a></li>
  </ul>
</nav>
  
    <p  class= "head_message">todoList</p>
  
   <form th:action="@{/home/new}" th:object="${todoForm}" method="post">
    <div id="registrationForm">

      <label class="label" or="title">タイトル : </label>
      <input type="text" id="title" name="title" th:field="*{title}" size="50" required ><br><br>

      <label class="label" for="date">　　日付 :</label>
      <input type="date" id="date" name="date" th:field="*{date}" size="50" />
      <label class="label" for="time">　　時間 :</label>
      <input type="time" id="time" name="time" th:field="*{time}" size="50" /><br><br>


      <label class="label" for="area">　　場所 : </label>
      <input type="text" id="area" name="area" th:field="*{area}" size="50" /><br><br>

      <label class="label" for="url">　　URL : </label>
      <input type="url" id="url" name="url" th:field="*{url}" size="50" /><br><br>

      <label class="label" for="memo">　　メモ : </label>
      <textarea id="memo" name="memo" rows="5" th:field="*{memo}" cols="40" class="fixed-size"></textarea><br><br>
      </div>

      <div id = "register_registerButtonPosition">

      <button type="submit" class="register">登録</button>

      </div>
    
  </form>
  
  <div id = "Detail_return">
    <button class="return_detail" onclick="location.href='http://localhost:8080/home'">戻る</button>
  </div>
  

<script src="/script.js" type="text/javascript"></script>
  
  <footer>
   <p>@GAKU-todo</p>
   </footer>


</body>
</html>