<!--削除機能.3-->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>task Delete</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>

<body>

 <nav>
    <ul id="homebar">

      <li><a href="../home" id="homeMenu" class="linkcolor">HOME</a></li>
      <li><a href="../home/new" id="taskRegistrationMenu" class="linkcolor">登録</a></li>
      <li><a href="../home/delete" id="taskDeleteMenu" class="white">削除</a></li>
      <li><a href="../home/option" id="optionMenu" class="linkcolor">設定</a></li>
    </ul>
  </nav>

  <p class="head_message">todoList</p>
<div> <!--id ="todoListWrapper"-->
  <h1 class="ListStyle">ToDo List</h1>
  <ul id="todoList">
    <li class="todoItem" th:each="todo : ${todos}" th:attr="data-id=${todo.todoId}">
      <input type="checkbox" class="checkBox" onclick="D_clickTodoList(event)">
      <a th:href="@{/home/{todoId}/edit(todoId=${todo.todoId})}">
        <span class="linkcolor" th:text="${todo.title}">todo title</span>
      </a>
      <form th:action="@{/home/{todoId}/delete(todoId=${todo.todoId})}" method="post" style="display: inline;">
        <button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
      </form>
    </li>
  </ul>
</div>

  <div> <!--id="doneListWrapper"-->
    <h1 class="ListStyle">Done List</h1>
    <ul id="doneList">
      <!-- <input type="button" id="deleteButton" value="削除" onclick="Delete()"/> -->
    </ul>
  </div>
  <script src="/script.js" type="text/javascript"></script>

  <footer>
    <p>@GAKU-todo</p>
  </footer>


</body>

</html>